-
  let navigations = [
    {
      name: 'Price',
      nametwo: 'Цены',
      href: './price.html',
    },
    {
      name: 'Timetable',
      nametwo: 'Расписание',
      href: './timetable.html',
    },
    {
      name: 'Teachers&Styles',
      nametwo: 'Педагоги и Стили',
      href: './teachers-styles.html',
    },
  ]

header(class=`header ${headerShadow ? 'header--shadow' : ''} ${headerColor? 'header--color' : ''}`)
  .a(href="#" class="header__logo")
    img(src="./img/icons/logo.svg")
  nav.header__nav
    ul.header__list
      each nav in navigations
        li.header__list_item
          a(href=nav.href class="lang" data-primary=nav.name data-secondary=nav.nametwo) #{nav.name}
    .pll-parent-menu-item
      a Ru
      ul.sub-menu
        li.lang-item
          a(href="#") Lv
    .header__burger
      span
      span
      span
    

  button.header__action
    span IM READY!


